.titulo_principal{
    padding-left: 30px;
}
.container-header{
    position: relative;
    margin: 0 auto;
}
.navegacion ul{
    position: absolute;
    top: 0;
    right: 0;
    width: 320px;
}
.navegacion li{
    display: inline;
    margin: 0 0 0 15px;
}

.navegacion a{
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.banner{
    width: 100%;
}
.container_principal{
    background-color: #cccccc;
    padding: 20px;
}
.titulo-centralizado{
    text-align: center;
}
p{
    text-align: center;
}
.mision{
    font-size: 25px;
}
em strong{
    color: #ff0000;
}
.container_diferenciales{
    background-color: #ffffff;
    padding: 30px;
}
.items{
    font-style: italic;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.img_diferenciales{
    width: 50%;
}
